@page
@model Biddify.Pages.Authen.ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    Layout = "~/Pages/Shared/_AuthenLayout.cshtml";
}
<div class="container">
    <div>
        <h2>Change password</h2>
        <form asp-action="ChangePassword" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="ChangePasswordViewModel.Email" class="form-label"></label>
                <input asp-for="ChangePasswordViewModel.Email" class="form-control" readonly />
            </div>
            <div class="m-3">
                <label asp-for="ChangePasswordViewModel.NewPassword" class="form-label"></label>
                <input asp-for="ChangePasswordViewModel.NewPassword" class="form-control" />
                <span asp-validation-for="ChangePasswordViewModel.NewPassword" class="text-danger"></span>
            </div>
            <div class="m-3">
                <label asp-for="ChangePasswordViewModel.ConfirmNewPassword" class="form-label"></label>
                <input asp-for="ChangePasswordViewModel.ConfirmNewPassword" class="form-control" />
                <span asp-validation-for="ChangePasswordViewModel.ConfirmNewPassword" class="text-danger"></span>
            </div>
            @if (TempData["ErrorTokenMessage"] != null)
            {
                <div class="alert alert-danger">
                    @TempData["ErrorTokenMessage"]
                </div>
            }
            else
            {
                <input type="submit" value="Change password" class="btn btn-success w-100 p-2" />
            }
            <a asp-page="/Authen/VerifyEmail" class="text-decoration-none mt-3">Back to verify email ?</a>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
}
