@model List<DataAccess.TransactionEntity>
@using Common
@using Domain.Enums
@{

}

<div class="max-w-6xl mx-auto p-6">
    <div class="bg-white py-6 px-8 rounded-lg shadow mb-6 border border-gray-300">
        <h2 class="text-2xl font-bold mb-6 uppercase">Transaction History</h2>

        <div class="grid grid-cols-5 font-medium text-gray-600 mb-4 text-sm">
            <div>Time</div>
            <div>Transaction type</div>
            <div>Txn. ID</div>
            <div>Total</div>
            <div>Status</div>
        </div>

        <div class="space-y-6 text-sm">
            @if (Model == null || !Model.Any())
            {
                <p class="text-gray-500 text-center py-4">Have not transactions yet.</p>
            }
            else
            {
                @foreach (var transaction in Model.OrderByDescending(t => t.CreatedAt))
                {
                    <div class="grid grid-cols-5 items-center">
                        <div>@transaction.CreatedAt.ToString("yyyy-MM-dd HH:mm:ss")</div>
                        <div>@EnumHelper.ToDisplayString(transaction.Type)</div>
                        <div>@transaction.Id.Substring(0, 8)...</div>
                        <div class="font-semibold">$@transaction.Amount.ToString("#,##0.00")</div>
                        @{
                            string statusClass = "text-gray-500";
                            switch (transaction.Status)
                            {
                                case ETransactionStatus.Pending:
                                    statusClass = "text-yellow-500";
                                    break;
                                case ETransactionStatus.Success:
                                    statusClass = "text-green-500";
                                    break;
                                case ETransactionStatus.Cancelled:
                                    statusClass = "text-dark-500";
                                    break;
                                case ETransactionStatus.Failed:
                                    statusClass = "text-red-500";
                                    break;
                            }
                        }
                        <div class="@statusClass font-medium">@EnumHelper.ToDisplayString(transaction.Status)</div>
                    </div>

                    <hr />
                }
            }
        </div>
    </div>
</div>